# Config
replicaCount: 1
image:
  # CHANGE THIS to your specific api-gateway image path
  repository: ghcr.io/dispatch7478/m7011e-project/api-gateway
  pullPolicy: IfNotPresent
  tag: "809437ab40c535ec48a21a3767ab19ef50d4a40a"
service:
  type: ClusterIP
  port: 80 # The Service listens on 80, forwards to container 8080
resources: # Tmp resource limits, changing later if needed - Dispatch7478
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
ingress:
  enabled: true
  host: api.ltu-m7011e-4.se
