# Config
replicaCount: 1
image:
  # CHANGE THIS to your specific api-gateway image path
  repository: ghcr.io/dispatch7478/m7011e-project/api-gateway
  pullPolicy: IfNotPresent
  tag: "0a07f10e0de0f0e8a9f82498b7585acc9c13b6f6"
service:
  type: ClusterIP
  port: 80 # The Service listens on 80, forwards to container 8080
resources: # Tmp resource limits, changing later if needed - Dispatch7478
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
ingress:
  enabled: true
  host: api.ltu-m7011e-4.se
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-production"
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
env:
  # Forces the app to use internal HTTP (bypassing TLS verification)
  - name: KEYCLOAK_URL
    value: "https://keycloak.ltu-m7011e-4.se"
