# Image Configuration
images:
  prometheus:
    repository: prom/prometheus
    tag: v2.45.0
    pullPolicy: IfNotPresent

  grafana:
    repository: grafana/grafana
    tag: 10.0.0
    pullPolicy: IfNotPresent

# Prometheus Configuration
prometheus:
  enabled: true
  retention: 15d
  scrapeInterval: 30s
  service:
    type: ClusterIP
    port: 9090

  additionalScrapeConfigs:
    - job_name: "user-service"
      metrics_path: /metrics
      static_configs:
        - targets:
            - "user-service.t-hub-dev.svc.cluster.local:8080"
    - job_name: "tournament-service"
      metrics_path: /metrics
      static_configs:
        - targets:
            - "tournament-service.t-hub-dev.svc.cluster.local:8080"
    - job_name: "bracket-service"
      metrics_path: /metrics
      static_configs:
        - targets:
            - "bracket-service.t-hub-dev.svc.cluster.local:8080"
    - job_name: "team-service"
      metrics_path: /metrics
      static_configs:
        - targets:
            - "team-service.t-hub-dev.svc.cluster.local:8080"        


# Grafana Configuration
grafana:
  enabled: true
  datasource:
    enabled: true
    name: Prometheus
    type: prometheus
    url: http://monitoring-stack-prometheus.monitoring.svc.cluster.local:9090
  # We will NOT put the password here.
  # Instead, we read it from a Secret you create manually.
  adminSecretName: grafana-admin-credentials
  adminUserKey: admin-user
  adminPasswordKey: admin-password

  service:
    type: ClusterIP
    port: 3000

ingress:
  enabled: true
  className: traefik
  clusterIssuer: letsencrypt-prod
  entrypoints: websecure

  grafana:
    host: grafana.ltu-m7011e-4.se
    tlsSecretName: grafana-tls

