apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-grafana
  labels:
    app: grafana
    release: {{ .Release.Name }}
spec:
  type: {{ .Values.grafana.service.type }}
  selector:
    app: grafana
    release: {{ .Release.Name }}
  ports:
    - name: http
      port: {{ .Values.grafana.service.port }}
      targetPort: 3000
