apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-prometheus-config
  labels:
    app: prometheus
    release: {{ .Release.Name }}
data:
  prometheus.yml: |
    global:
      scrape_interval: {{ .Values.prometheus.scrapeInterval | default "30s" }}
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']

      {{- if .Values.prometheus.additionalScrapeConfigs }}
      {{- toYaml .Values.prometheus.additionalScrapeConfigs | nindent 6 }}
      {{- end }}
