apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-prometheus
  labels:
    app: prometheus
    release: {{ .Release.Name }}
spec:
  type: {{ .Values.prometheus.service.type }}
  selector:
    app: prometheus
    release: {{ .Release.Name }}
  ports:
    - name: http
      port: {{ .Values.prometheus.service.port }}
      targetPort: 9090
