apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 30s

    rule_files:
      - /etc/prometheus/rules/*.yml

    scrape_configs:
      - job_name: prometheus
        static_configs:
          - targets: ['localhost:9090']

      - job_name: user-service
        metrics_path: /metrics
        static_configs:
          - targets:
              - user-service.t-hub-dev.svc.cluster.local:8080

      - job_name: team-service
        metrics_path: /metrics
        static_configs:
          - targets:
              - team-service.t-hub-dev.svc.cluster.local:80

      - job_name: "bracket-service"
        metrics_path: /metrics
        static_configs:
          - targets:
              - "bracket-service.t-hub-dev.svc.cluster.local:8080"
