# Internal networking
apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
  labels:
    app: {{ .Chart.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http # Points to containerPort 8080
      protocol: TCP
      name: http
  selector:
    app: {{ .Chart.Name }}