apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: frontend
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/dispatch7478/m7011e-project.git
    targetRevision: HEAD
    path: k8s/charts/frontend # Path to the frontend Helm chart
  destination:
    server: https://kubernetes.default.svc
    namespace: default # Deploy into the 'default' namespace
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
