name: Build, Push, and Update Image Tag

on:
  push:
    branches: [ "main" ] # Only run on pushes to the main branch
    paths:
      - 'services/**'
      - 'frontend/**'

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      image_name: ${{ steps.set_image_name.outputs.lowercase_image_name }}
    steps:
      - name: Set image name to lowercase
        id: set_image_name
        run: echo "lowercase_image_name=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

  build-and-push:
    needs: prepare
    runs-on: ubuntu-latest
    permissions:
      contents: write # Allow the workflow to write to the repository
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # We need to fetch all history for all branches to correctly calculate the changed files
          fetch-depth: 0

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v41
        with:
          files: services/**

      - name: Build and push changed services
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            if [[ "$file" == services/* ]]; then
              service_name=$(echo "$file" | cut -d/ -f2)
              echo "Building and pushing $service_name"
              
              docker build -t ghcr.io/${{ needs.prepare.outputs.image_name }}/$service_name:${{ github.sha }} ./services/$service_name
              docker push ghcr.io/${{ needs.prepare.outputs.image_name }}/$service_name:${{ github.sha }}
              
              # Update the image tag in the corresponding values.yaml file
              yq -i ".image.tag = \"${{ github.sha }}\"" k8s/charts/$service_name/values.yaml
            fi
          done

      - name: Commit and push updated values.yaml
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "ci: update image tags"
          file_pattern: "k8s/charts/**/values.yaml"
          commit_user_name: "GitHub Actions"
          commit_user_email: "actions@github.com"
          commit_author: "GitHub Actions <actions@github.com>"